<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ApplicationPad</string>
	<key>CFBundleDisplayName</key>
	<string>ApplicationPad</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Kris Jin. All rights reserved.</string>
	<key>SUFeedURL</key>
	<string>https://applicationpad.cfapps.eu12.hana.ondemand.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>8e8+RtbOx6qf+9hyCUsib6NjJP6p8paSjTDCYADPRX8=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
